{% extends "bootstrap/base.html" %}
{% block title %}Moss{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Moss</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="container" class="chart" style="height: 500px; width: 1000px"></div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="../static/js/moss_poll.js"></script>
{% endblock %}
