{% extends "base_layout.html" %}
{% set active_page = "monitor" %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#realtime" id="realtime-tab" aria-controls="realtime-view" role="tab" data-toggle="tab">实时</a>
      </li>
      <li role="presentation">
        <a href="#day" id="day-tab" aria-controls="day-view" role="tab" data-toggle="tab">日</a>
      </li>
      <li role="presentation">
        <a href="#week" id="week-tab" aria-controls="week-view"  role="tab" data-toggle="tab">周</a>
      </li>
      <li role="presentation">
        <a href="#month" id="month-tab" aria-controls="month-view" role="tab" data-toggle="tab">月</a>
      </li>
      <li role="presentation">
        <a href="#year" id="year-tab" aria-controls="year-view" role="tab" data-toggle="tab">年</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="realtime-view">
        <div id="container-realtime" class="chart"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="day-view">
        <p>hahah</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="week-view">
      </div>
      <div role="tabpanel" class="tab-pane" id="month-view">
      </div>
      <div role="tabpanel" class="tab-pane" id="year-view">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="../static/js/moss_poll.js"></script>
{% endblock %}
